<div>
    <label for="numventa">Código</label>
    <input type="text" [(ngModel)]="codigo">
    <button mat-raised-button color="primary" 
    (click)="buscar_mi_venta()" type="button">
        <mat-icon>search</mat-icon>
        Detalles
    </button>
    <button mat-raised-button color="primary" 
    (click)="buscar_por_nombre()" type="button">
        <mat-icon>search</mat-icon>
        Bucar por Nombre
    </button>
    <button class="espaciado.button" mat-raised-button color="primary" (click)="moverse_cliente('anterior')">
        <mat-icon aria-hidden="false" aria-label="Example new icon">keyboard_arrow_left</mat-icon>
        Anterior Cliente
    </button>
    <button class="espaciado.button" mat-raised-button color="primary" (click)="moverse_cliente('siguiente')">
        <mat-icon aria-hidden="false" aria-label="Example new icon">keyboard_arrow_right</mat-icon>
        Siguiente Cliente
    </button>

</div>
<div *ngIf="venta" >
    <div class="row">
        <div class="column-12" style="width: 40%;" >
            <label for="nombre" >Nombre </label>
            <input type="text" id="nombre" style="width: 60%;" [readOnly]="true" value="{{venta.nombre}}">
        </div>
        <div class="column-6" style="width: 20%;" >
            <label for="ubica" >Ubicación</label>
            <input type="text" id="ubica" style="width: 20%;" [readOnly]="true" value="{{venta.ubica}}">
        </div>
        <div class="column-6" style="width: 20%;" >
            <label for="factura">Factura </label>
            <input type="text" id="factura" style="width: 35%;"  [readOnly]="true" value="{{venta.seriefac}} {{venta.numfac}}">
        </div>

    </div>
    <div class="row">
        <div class="col-6">
            <label for="tipoventa" >Tipo de Venta </label>
            <input type="text" id="tipoventa" style="width: 10%;"  [readOnly]="true" value="{{venta.ticte}}">
            <div *ngIf="venta.ticte === 'TC'">
                <input type="text" id="tartejatc" style="width: 40%;"  value="{{tarjetatc}}" [readOnly]="true">
            </div>
        </div>
        <div class="col-6">
            <label for="tipoventa" >Op</label>
            <input type="text" id="tipoventa" style="width: 10%;"  [readOnly]="true" value="{{venta.opcion}}">
        </div>
        <div class="col-6">
            <label for="qom">Q/M/C </label>
            <input type="text" id="qom"  style="width: 10%;" [readOnly]="true" value="{{venta.qom}}">
        </div>
        <div class="col-6">
            <label for="precon">P.Lista</label>
            <input type="text" id="precon" [readOnly]="true" value="{{venta.precon | currency}}">
        </div>
        <div class="col-6">
            <label for="descuento">Descuento</label>
            <input type="text" id="descuento" style="width: 10%;" [readOnly]="true" value="{{venta.descto}}">
        </div>
        <div class="col-6">
            <label for="servicio">Servicio</label>
            <input type="text" id="servicio" style="width: 10%;" [readOnly]="true" value="{{venta.servicio}}">
        </div>

    </div>
    <div *ngIf="escredito">
        <div class="row">
            <div class="col-6">
                <label for="letras">letras </label>
                <input type="text" id="letras" [readOnly]="true" value="{{venta.nulets}}">
                <label for="precioxletra">Precio x Letra </label>
                <input type="text" id="precioxletra" [readOnly]="true" value="{{venta.canle | currency}}">
                <label for="bonifi">Bonificación </label>
                <input type="text" id="bonifi" [readOnly]="true" value="{{venta.canle | currency}}">
                <label for="sdoeng">Letra 1/1 </label>
                <input type="text" id="sdoeng" [readOnly]="true" value="{{venta.letra1}}">
                <label *ngIf = "diasgracia" for="diasgracia">Dias Gracia</label>
                <input type="text" id="diasgracia" [readOnly]="true" value="{{diasgracia}}">
            </div>

        </div>
        <div *ngIf="aval">
            <div class="row">
                <label for="nomreaval" >Aval Nombre</label>
                <input type="text" id="nombreaval" [readOnly]="true" value="{{aval.nombre}}">
                <label for="diraval" >Direccion</label>
                <input type="text" id="diraval" [readOnly]="true" value="{{aval.calle}}">
                <label for="pobaval" >Poblacion</label>
                <input type="text" id="pobaval" [readOnly]="true" value="{{aval.ciudad}}">

            </div>
        </div>
    
    </div>
    <div>
        <label for="nombre">Cargos </label>
        <input type="text" [readOnly]="true" value="{{venta.cargos | currency}}">
        <label for="nombre">Abonos </label>
        <input type="text" [readOnly]="true" value="{{venta.abonos | currency}}">
        <label for="nombre">Saldo </label>
        <input type="text" [readOnly]="true" [value]="(venta.cargos - venta.abonos) | currency">
        
    </div>
    <div>
        <label >Vendedor </label>
        <input type="text" style="width: 10%;" [readOnly]="true" *ngIf="vendedor" [(ngModel)]="vendedor.codigo">
        <label >Comision </label>
        <input type="text"  style="width: 10%;" [readOnly]="true" value="{{venta.comision | currency}}">
        <label >Entrega</label>
        <input type="text" style="width: 10%;" [readOnly]="true" *ngIf="promotor" [(ngModel)]="promotor.codigo">
        <label >Comision</label>
        <input type="text" [readOnly]="true" style="width: 10%;" *ngIf="promotor" value="{{venta.comisionpromotor | currency}}">
    </div>
    <div style="width: 100%;">
        <label >Compra:</label> 
        <input type="text" style="width: 80%;" [readOnly]="true" [(ngModel)]="compras">
        <label>{{venta.idventa}} </label>
    </div>
    <div style="width: 100%;">
    </div>
    <div style="width: 100%;">
        <button mat-raised-button color="primary" 
            type="button" (click)="imprime_letras()"> 
            <mat-icon>print</mat-icon>
            Impresión Letras
        </button>
        <button [disabled]="ventacerrada" mat-raised-button color="primary" 
            type="button" (click)="cerrar_venta(venta.idventa)"> 
            <mat-icon>lock</mat-icon>
            <label *ngIf="ventacerrada"> Venta Cerrada {{fechacierre}}</label>
            <label *ngIf="!ventacerrada"> Cerrar</label>
        </button>
        <button mat-raised-button color="primary" 
            type="button" (click)="estadoCuenta()"> 
            <mat-icon>print</mat-icon>
            Estado de Cuenta
        </button>
        

    </div>

    <div style="width: 100%;">        
        <mat-tab-group mat-align-tabs="start">
            <div class="movtos">
                <mat-tab label="Movimientos">
                    <app-movimientostabla *ngIf="yatengomovclis" 
                        [movimientos]="movclis" [idventa]="idventa" [cargoscli]="venta.cargos" [status]="statuscerrada">
                    </app-movimientostabla>
                </mat-tab>
                <mat-tab label="Factura">
                    <app-factura *ngIf="yatengofactura" [datosventa]="datosventa" [factura]="facturacompleta"></app-factura>
                </mat-tab>
                <mat-tab label="Solicitud">
                    <app-solicitud-form  *ngIf="solicitudextendida && yatengosolicit"  [solicitudextendida]="solicitudextendida" [inicial] = "modo"></app-solicitud-form>
                </mat-tab>
                </div>
        </mat-tab-group>

    </div>

</div>
