<div>
    <label for="numventa">Código</label>
    <input type="text" [(ngModel)]="codigo">
    <button mat-raised-button color="primary" 
    (click)="buscar_mi_venta()" type="button">
        <mat-icon>search</mat-icon>
        Detalles
    </button>

</div>
<div *ngIf="venta">
    <div>
        <label for="nombre">Nombre </label>
        <input type="text" [readOnly]="true" [(ngModel)]="venta.nombre">
    </div>
    <div>
        <label for="nombre">Ubicación</label>
        <input type="text" [readOnly]="true" [(ngModel)]="venta.ubica">
    </div>
    <div>
        <label for="nombre">Factura </label>
        <input type="text" [readOnly]="true" [(ngModel)]="venta.numfac">
        <label for="nombre">Serie </label>
        <input type="text" [readOnly]="true" [(ngModel)]="venta.seriefac">
    </div>
    <div>
        <label for="nombre">Tipo de Venta </label>
        <input type="text" [readOnly]="true" [(ngModel)]="venta.ticte">
    </div>
    <div>
        <label for="nombre">Q/M/C </label>
        <input type="text" [readOnly]="true" [(ngModel)]="venta.qom">
    </div>
    <div>
        <label for="nombre">Precon</label>
        <input type="text" [readOnly]="true" [(ngModel)]="venta.precon">
    </div>
    <div>
        <label for="nombre">Servicio</label>
        <input type="text" [readOnly]="true" [(ngModel)]="venta.servicio">
    </div>
    <div *ngIf="escredito">
        <div>
            <label for="nombre">letras </label>
            <input type="text" [readOnly]="true" [(ngModel)]="venta.nulets">
            <label for="nombre">Precio x Letra </label>
            <input type="text" [readOnly]="true" [(ngModel)]="venta.canle">
            <label for="nombre">Letra 1/1 </label>
            <input type="text" [readOnly]="true" [(ngModel)]="venta.letra1">
        </div>
        <div *ngIf="aval">
            <label >Aval Nombre</label>
            <input type="text" [readOnly]="true" [(ngModel)]="aval.nombre">
            <label >Direccion</label>
            <input type="text" [readOnly]="true" [(ngModel)]="aval.calle">
            <label >Poblacion</label>
            <input type="text" [readOnly]="true" [(ngModel)]="aval.ciudad">
        </div>
    
    </div>
    <div>
        <label for="nombre">Cargos </label>
        <input type="text" [readOnly]="true" [(ngModel)]="venta.cargos">
        <label for="nombre">Abonos </label>
        <input type="text" [readOnly]="true" [(ngModel)]="venta.abonos">
        <label for="nombre">Saldo </label>
        <input type="text" [readOnly]="true" value = "{{venta.cargos - venta.abonos}}" >
        
    </div>
    <div>
        <label >Vendedor </label>
        <input type="text" [readOnly]="true" *ngIf="vendedor" [(ngModel)]="vendedor.codigo">
        <label >Comision </label>
        <input type="text" [readOnly]="true" [(ngModel)]="venta.comision">
        <label >Entrega</label>
        <input type="text" [readOnly]="true" *ngIf="promotor" [(ngModel)]="promotor.codigo">
        <label >Comision</label>
        <input type="text" [readOnly]="true" *ngIf="promotor" [(ngModel)]="venta.comisionpromotor">
    </div>
    <div style="width: 100%;">
        <label >Compra:</label> 
        <input type="text" style="width: 80%;" [readOnly]="true" [(ngModel)]="compras">
        <label>{{venta.idventa}} </label>
    </div>
    <div style="width: 100%;">
        <button mat-raised-button color="primary" 
        type="button" (click)="imprime_letras()"> Impresión Letras</button>
    </div>

    <div style="width: 100%;">        
        <mat-tab-group mat-align-tabs="start">
            <div class="movtos">
                <mat-tab label="Movimientos">
                    <app-movimientostabla *ngIf="yatengomovclis" [movimientos]="movclis"></app-movimientostabla>
                </mat-tab>
                <mat-tab label="Factura">
                    <app-factura *ngIf="yatengofactura" [factura]="facturacompleta"></app-factura>
                </mat-tab>
                <mat-tab label="Solicitud">
                    <app-solicitud-form  *ngIf="solicitudextendida && yatengosolicit"  [solicitudextendida]="solicitudextendida" [inicial] = "modo"></app-solicitud-form>
                </mat-tab>
                </div>
        </mat-tab-group>

    </div>

</div>
