<div class="grid-container">
    <info-card *ngFor="let card of cards" [infoCard]="card">
        <div role="footer" class="footer">
            <mat-icon>schedule</mat-icon>
            <p class="text">{{card.footer}}</p>
        </div>
    </info-card>
</div>
<div class="chart-container grid-container">
    <mat-card class="mat-elevation-z5">
        <div style="background: linear-gradient(60deg,#66bb6a,#43a047)">
            <canvas baseChart width="200" height="100"
            [type]="'line'"
            [data]="lineChartData"
            [options]="lineChartOptions"
            [legend]="lineChartLegend">
            </canvas>
        </div>
        <div>
            <h1>
                Ventas del año
            </h1>
            <mat-divider style="position: relative; width: 80%; margin-bottom: 1rem;"></mat-divider>
            <p>Esta gráfica contiene un resumen breve de como ha ido avanzando el año</p>
        </div>
    </mat-card>
    <mat-card class="mat-elevation-z5">
        <div style="background: linear-gradient(60deg,#ffa726,#fb8c00)">
            <canvas baseChart width="200" height="100"
            [type]="'bar'"
            [data]="barChartData"
            [options]="barChartOptions"
            [legend]="barChartLegend">
        </canvas>
        </div>
        <div>
            <h1>
                Inversiones recibidas en el año
            </h1>
            <mat-divider style="position: relative; width: 80%; margin-bottom: 1rem;"></mat-divider>
            <p>Esta gráfica contiene un resumen breve de como ha ido avanzando el año</p>
        </div>
    </mat-card>
    <mat-card class="mat-elevation-z5">
        <div style="background: linear-gradient(60deg,#ef5350,#e53935)">
            <canvas baseChart width="200" height="100"
            [type]="'line'"
            [data]="line2ChartData"
            [options]="line2ChartOptions"
            [legend]="line2ChartLegend">
            </canvas>
        </div>
        <div>
            <h1>
                Actividad en redes sociales
            </h1>
            <mat-divider style="position: relative; width: 80%; margin-bottom: 1rem;"></mat-divider>
            <p>Aquí se muestra a detalle como han avanzado las redes de la empresa</p>
        </div>
    </mat-card>
</div>
<div class="grid-container lower-container">
    <mat-card class="task-list mat-elevation-z5">
        <div class="tl-header">
            <p class="tl-title">
                Tareas:
            </p>
            <div class="tl-button-container">
                <mat-button-toggle-group class="tl-button-container-group" name="tasksGroup" aria-label="task Group">
                    <mat-button-toggle value="tickets-list" class="tl-button" (click)="updateContextualMenu('tickets-list')" [ngClass]="contextualMenu == 'tickets-list'? ['tl-button-focus'] : ['']">
                        Tickets pendientes 
                    </mat-button-toggle>
                    <mat-button-toggle value="daily-tasks" class="tl-button" (click)="updateContextualMenu('daily-tasks')" [ngClass]="contextualMenu == 'daily-tasks'? ['tl-button-focus'] : ['']">
                        tareas del día
                    </mat-button-toggle>
                    <mat-button-toggle value="daily-advances" class="tl-button" (click)="updateContextualMenu('daily-advances')" [ngClass]="contextualMenu == 'daily-advances'? ['tl-button-focus'] : ['']">
                        Avances del día
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
        <div class="contextual-menu">
            <ul *ngIf="contextualMenu == 'tickets-list'" class="check-list">
                <li *ngFor="let ticket of pendantTickets" class="check-list-item">
                    <mat-checkbox [(ngModel)]="ticket.completed">
                        {{ticket.description}}
                    </mat-checkbox>
                    <mat-divider class="cli-divider"></mat-divider>
                </li>
            </ul>
            <ul *ngIf="contextualMenu == 'daily-tasks'" class="check-list">
                <li *ngFor="let ticket of dailyTasks" class="check-list-item">
                    <mat-checkbox [(ngModel)]="ticket.completed">
                        {{ticket.description}}
                    </mat-checkbox>
                    <mat-divider class="cli-divider"></mat-divider>
                </li>
            </ul>
            <ul *ngIf="contextualMenu == 'daily-advances'" class="check-list">
                <li *ngFor="let ticket of dailyAdvances" class="check-list-item">
                    <mat-checkbox [(ngModel)]="ticket.completed">
                        {{ticket.description}}
                    </mat-checkbox>
                    <mat-divider class="cli-divider"></mat-divider>
                </li>
            </ul>
        </div>
    </mat-card>
    <mat-card class="table-list mat-elevation-z5">
        <div class="table-list-header">
            <h1>
                Actividades recientes en el sistema
            </h1>
        </div>
        <app-table
            [headers]="headers"
            [body]="body"
            [options]="tableOptions"
            [bodyProps]="arrayContent"
        ></app-table>
    </mat-card>
</div>