<div class="grid-container">
    <info-card *ngFor="let card of cards" [infoCard]="card">
        <div role="footer" class="footer">
            <mat-icon>schedule</mat-icon>
            <p class="text">{{card.footer}}</p>
        </div>
    </info-card>
</div>
<div class="chart-container grid-container">
    <mat-card class="mat-elevation-z5">
        <div style="background: linear-gradient(60deg,#66bb6a,#43a047)">
            <canvas baseChart width="200" height="200"
            [type]="'line'"
            [data]="lineChartData"
            [options]="lineChartOptions"
            [legend]="lineChartLegend">
            </canvas>
        </div>
        <div>
            <h1>
                Ventas del año
            </h1>
            <mat-divider style="position: relative; width: 80%; margin-bottom: 1rem;"></mat-divider>
            <p>Esta gráfica contiene un resumen breve de como ha ido avanzando el año</p>
        </div>
    </mat-card>
    <mat-card class="mat-elevation-z5">
        <div style="background: linear-gradient(60deg,#ffa726,#fb8c00)">
            <canvas baseChart width="200" height="200"
            [type]="'bar'"
            [data]="barChartData"
            [options]="barChartOptions"
            [legend]="barChartLegend">
        </canvas>
        </div>
        <div>
            <h1>
                Inversiones recibidas en el año
            </h1>
            <mat-divider style="position: relative; width: 80%; margin-bottom: 1rem;"></mat-divider>
            <p>Esta gráfica contiene un resumen breve de como ha ido avanzando el año</p>
        </div>
    </mat-card>
    <mat-card class="mat-elevation-z5">
        <div style="background: linear-gradient(60deg,#ef5350,#e53935)">
            <canvas baseChart width="200" height="200"
            [type]="'line'"
            [data]="line2ChartData"
            [options]="line2ChartOptions"
            [legend]="line2ChartLegend">
            </canvas>
        </div>
        <div>
            <h1>
                Actividad en redes sociales
            </h1>
            <mat-divider style="position: relative; width: 80%; margin-bottom: 1rem;"></mat-divider>
            <p>Aquí se muestra a detalle como han avanzado las redes de la empresa</p>
        </div>
    </mat-card>
</div>