@import "src/colors.scss";

.bullet-card{
    display: flex;
}

.chart-container{
    margin-top: 1rem;
}

.footer{
    display: flex;
    gap: 1ch;
    color: $secondary-text;
    margin-top: 5px;
    align-items: center;
    p{
        margin: 0;
    }
}

.text{
    max-width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.lower-container{
    margin-top: 1rem;
    .task-list{
        .tl-header{
            display: flex;
            gap: 1ch;
            background: $secondary-color;
            color: $white-text;
            padding: .5ch;
            border-radius: 5px;
            justify-content: center;
            align-items: center;
            p{
                margin: 0;
                font-weight: 500;
            }
            .tl-button-container{
                display: grid;
                gap: 1rem;
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                width: 80%;
                .tl-button-container-group{
                    border: 0px;
                    .tl-button{
                        background: $secondary-color;
                        color: white;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: no-wrap;
                    }
    
                    .tl-button-focus{
                        background-color: $third-color;
                    }
                }
            }
        }
        .contextual-menu{
            .check-list{
                list-style: none;
                padding: 0;
                .check-list-item{
                   padding: 1rem; 
                   .cli-divider{
                    position: relative; 
                    max-width: 80%;
                   }
                }
            }
        }
    }

    .table-list{
        .table-list-header{
            background: $primary-color;
            color: white;
            border-radius: 5px;
            padding: 1.2ch;
            display: flex;
            justify-content: center;
            align-items: center;
            h1{
                margin: 0;
            }
        }
    }
}

::ng-deep .mat-checkbox{
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
   }