@import "src/colors.scss";



div{
    cursor: pointer;
    .menu-icon {
        font-size: 2rem;
        width: auto;
        height: auto;
    }
}

@media (min-width: "801px") {
  .navbar{
    display: none;
  }
  .menu-icon {
    display: none;
  }
}

@media (max-width: "800px") {

  .navbar {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
  }
}