
<form [formGroup]="form" >
    <mat-form-field  style="width: 100%;">
        <mat-label>
            Fecha 
        </mat-label>
        <input matInput  type="date" formControlName="fecha">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="fecha"></mat-datepicker-toggle>
        <mat-datepicker #fecha></mat-datepicker>
        <mat-error *ngIf="form.controls['fecha'].hasError('required')">
            ¡Introduce La fecha del movimiento!
        </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
        <mat-label>
            Concepto 
        </mat-label>
        <input type="text" matInput formControlName="concepto">
    </mat-form-field>

    <mat-form-field style="width: 100%;">
        <mat-label>
            Tipo
        </mat-label>
        <mat-select formControlName="tipo">
            <mat-option *ngFor="let tipo of tipos" [value]="tipo">
                {{tipo}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
        <mat-label>
            Cobratario
        </mat-label>
        <input type="text" matInput formControlName="cobratario">
        <mat-error *ngIf="form.controls['cobratario'].hasError('required')">
            ¡Introduce el cobratario!
        </mat-error>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
        <mat-label *ngIf="esab()" style="width: 100%;">
            Bonificación
        </mat-label>
        <mat-label *ngIf="esrec()" style="width: 100%;">
            Recargo
        </mat-label>
        <input type="number" matInput formControlName="recbon">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
        <mat-label>
            Importe
        </mat-label>
        <input type="number" matInput formControlName="Importe">
    </mat-form-field>

    <div style="width: 100%; display: flex; justify-content: center; padding-top: .5rem;">
        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="aceptar()">
            <span style="margin: 0; padding: 0;">
                Aceptar
            </span>
        </button>
        <button mat-raised-button  mat-dialog-close color="cancel" (click)="closeno()" >
            <span style="margin: 0; padding: 0;">
                Cancelar
            </span>
        </button>
    </div>
</form>
