<mat-sidenav-container class="container" style="width: 100vw; height: 100vh;">
    <mat-sidenav opened="{{toggle}}" [(opened)]='toggle' (opened)="toggle=true" (closed)="close()">
        <app-sidebar style="background-color: #aaf;" (toggle)="toggleSidebar()">
            sidebar
        </app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-navbar (toggle)="toggleSidebar()">
            navbar
        </app-navbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
