<mat-sidenav-container class="container" style="width: 100vw; height: 100vh;">
    <mat-sidenav opened="{{toggle}}" [(opened)]='toggle' (opened)="toggle=true" (closed)="close()" [ngClass]="showShadow? ['mat-elevation-z8'] : ['']">
        <app-sidebar style="background-color: #aaf;" (toggle)="toggleSidebar()"></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-navbar (toggle)="toggleSidebar()">
            navbar
        </app-navbar>
        <div style="padding: 1rem">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
