<div class="profile-container">
    <mat-card class="mat-elevation-z5 info">
        <div class="title">
            <h1>
                Perfil del usuario
            </h1>
        </div>
        <div class="profile-form">
            <div>
                <mat-form-field class="form-field">
                    <mat-label>
                        Compañía
                    </mat-label>
                    <input matInput type="text">
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>
                        Nombre de usuario
                    </mat-label>
                    <input matInput type="text">
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>
                        Correo electrónico
                    </mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-field">
                    <mat-label>
                        Nombre(s)
                    </mat-label>
                    <input matInput type="text">
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>
                        Apellido(s)
                    </mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-field">
                    <mat-label>
                        Dirección
                    </mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-field">
                    <mat-label>
                        Ciudad
                    </mat-label>
                    <input matInput type="text">
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>
                        Estado
                    </mat-label>
                    <input matInput type="text">
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>
                        País
                    </mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-field">
                    <mat-label>
                        Sobre mí
                    </mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="button-field">
            <button mat-raised-button class="button">
                Actualizar perfil
            </button>
        </div>
    </mat-card>
    <mat-card class="mat-elevation-z5 visualization">
        <div class="image-container">
            <!-- NOTICE: THIS IS JUST A PLACEHOLDER IMAGE IT DOES NOT CONTAIN NOR PROVIDE ANY VALUE TO THE TEMPLATE ITSELF AND IT'S PRETENDED TO BE REMOVED IN THE FUTUURE FOR A IMAGE PROPERTY OF DOUT CODERS-->
            <img class="mat-elevation-z5" src="../../../../assets/images/happy-man-okay-sign-portrait-white-background-showing-31418338.jpg" alt="">
        </div>
        <div class="visualization-data">
            <h6>
                ceo and founder
            </h6>
            <h1>
                Daniel Tobas
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores tempora porro nostrum ea expedita. Consectetur delectus atque iste officiis, dolor magnam nobis dignissimos a deleniti suscipit. Quidem magni voluptatem assumenda!
            </p>
        </div>
        <div class="button-field">
            <button mat-raised-button class="button">
                Seguir
            </button>
        </div>
    </mat-card>
</div>