labelCBorde {
    border: 1px solid; /* Borde de 1px, sólido y color negro */
    padding: 5px; /* Espacio interno para que el texto no quede pegado al borde */
    display: inline-block; /* Para que el borde se ajuste al contenido */
}
