<div>
    <div *ngIf="nuevapoliza">
        <div>
            <label >Fecha </label>
            <input type="date" value="{{fecha }}">
        </div>
        <div>
            <mat-label>
                Tienda
                <select  name="codtda" id="codtda" value="{{codtda}}" 
                [(ngModel)]= "codtda" >
               <option *ngFor="let micodigocaja of codigoscaja" value="{{micodigocaja.tda}}"
                 [selected]="codtda == micodigocaja.tda">
                 {{micodigocaja.tda}} {{micodigocaja.nombre}}
                 </option>
           </select>
           </mat-label>
           <div>
            <button *ngIf="nuevapoliza" mat-raised-button color="primary" 
            (click)="crear_poliza()" type="button">
                <mat-icon>ok</mat-icon>
                Aceptar
            </button>
           </div>
    
        </div>
    </div>
    <div *ngIf="polizacaja" class="grid-container">
        <div>
            <label >Fecha </label>
            <input type="tex" readonly value="{{polizacaja.fecha | date : 'YYYY-MM-dd' }}" >
        </div>
        <div>
            <label >Tda </label>
            <input type="text" readonly value = "{{polizacaja.tda}}">
            <input type="text" readonly value = "{{polizacaja.nombretda}}">
        </div>
        <mat-label>
            Cliente
            <input type="text" [(ngModel)]="codvta">
            <button  mat-raised-button color="primary" 
            (click)="buscar_cliente()" type="button">
                <mat-icon>search</mat-icon>
                Aceptar
            </button>
        </mat-label>
    </div>
    <div *ngIf="polizacaja" class="grid-container">
        <div *ngIf="venta">
            <div class="grid-container">
                <div>
                    <mat-label>
                        Nombre
                        <input type="text" value = "{{venta.nombre}}">
                    </mat-label>
                    <mat-label>
                        Enganche
                        <input type="text" value = "{{venta.enganc}}">
                    </mat-label>
                    <mat-label>
                        Servicio
                        <input type="text" value = "{{venta.servicio}}">
                    </mat-label>
        
                    <mat-label>
                        Letras
                        <input type="text" value = "{{venta.nulets}}">
                    </mat-label>
                    <mat-label>
                        Importe x Letra
                        <input type="text" value = "{{venta.canle}}">
                    </mat-label>
                    <mat-label>
                        Total Facturacion
                        <input type="text" value = "{{venta.cargos}}">
                    </mat-label>
                    <mat-label>
                        Abonos
                        <input type="text" value = "{{venta.abonos}}">
                    </mat-label>
                    <mat-label>
                        Saldo
                        <input type="text" value = "{{venta.saldo}}">
                    </mat-label>
                    <div>
                        <mat-label>
                            Compra
                            <input type="text" value = "{{compra}}">
                        </mat-label>
                    </div>
                    <button mat-raised-button color="primary" 
                    (click)="cobrar(venta)" type="button">
                        <mat-icon>payment</mat-icon>
                        Cobrar
                    </button>

                </div>


            </div>
            <div class="boxscroll">
                <div class="vencimientos">
                    <app-vencimientos *ngIf="yatengovencimientos" [nulets]="venta.nulets" [vencimientos]="vencimientos"></app-vencimientos>
                </div>
            </div>
                    
        </div>

    </div>
    <div>
        <table mat-table [dataSource]="renglones" style="width: 100%;">
            <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef> Código </th>
                <td mat-cell *matCellDef="let element">  {{element.codigo }} </td>
            </ng-container>
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element">  {{element.nombre }} </td>
            </ng-container>
            <ng-container matColumnDef="concepto">
                <th mat-header-cell *matHeaderCellDef> Concepto </th>
                <td mat-cell *matCellDef="let element">  {{element.concepto }} </td>
            </ng-container>
            <ng-container matColumnDef="vence">
                <th mat-header-cell *matHeaderCellDef> Vence </th>
                <td mat-cell *matCellDef="let element">  {{element.vence | date : "YYYY-MM-dd" }} </td>
            </ng-container>
            <ng-container matColumnDef="dias">
                <th mat-header-cell *matHeaderCellDef> Días </th>
                <td mat-cell *matCellDef="let element">  {{element.dias }} </td>
            </ng-container>

            <ng-container matColumnDef="bonif">
                <th mat-header-cell *matHeaderCellDef> Bonificación </th>
                <td mat-cell *matCellDef="let element">  {{element.bonif | currency }} </td>
            </ng-container>
            <ng-container matColumnDef="recar">
                <th mat-header-cell *matHeaderCellDef>Recargos </th>
                <td mat-cell *matCellDef="let element">  {{element.recar | currency }} </td>
            </ng-container>
            <ng-container matColumnDef="importe">
                <th mat-header-cell *matHeaderCellDef> importe </th>
                <td mat-cell align="right" *matCellDef="let element">  {{element.importe | currency  }} </td>
            </ng-container>
            <ng-container matColumnDef="neto">
                <th mat-header-cell *matHeaderCellDef> Efectivo </th>
                <td mat-cell align="right" *matCellDef="let element">  {{element.importe | currency  }} </td>
            </ng-container>

            <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <div>
                        <button mat-raised-button color="primary" [cdkMenuTriggerFor]="menu" class="example-standalone-trigger">Acciones</button>
                        <ng-template #menu>
                            <div class="example-menu" cdkMenu>
                                <ul>
                                    <li>
                                        <button mat-raised-button color="primary" 
                                        (click)="edit(element)" type="button">
                                            <mat-icon>edit</mat-icon>
                                            Modificar
                                        </button>
                                    </li>
                                    <li>
                                        <button mat-raised-button color="warn" 
                                        (click)="delete(element)" type="button">
                                            <mat-icon>delete</mat-icon>
                                            Eliminar
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </ng-template>
    
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
    </div>


</div>
