<div class="sidebar">
    <div class="logo">
        <h1>
            Quicksilver
        </h1>
        <mat-divider class="divider"></mat-divider>
    </div>
    <ul class="sidebar-menu" style="list-style: none; margin: 0; padding: 0;">
        <li class="menu-item" *ngFor="let route of routes" [routerLink]="['/app/'+route.url]" [ngClass]="[currentRoute == route.url? 'selected' : '' ]">
            <mat-icon class="icon">{{route.icon}}</mat-icon>
            <span>{{route.name}}</span>
        </li>
        <li class="menu-item" (click)="logout()">
            <mat-icon class="icon">
                logout
            </mat-icon>
            <span>
                Salir de la sesión
            </span>
        </li>
        <li class="menu-item" (click)="toggleMenu()" [ngStyle]="hideSidebar? {display: 'none'} : {}">
            <mat-icon class="icon">arrow_back</mat-icon>
            <span>
                Regresar
            </span>
        </li>
    </ul>
</div>