<form [formGroup]="form" (submit)="uploadSign()">
    <div>
        <img class="card-img-top" src="../assets/images/img_avatar1.png" width="200px" alt="Card image">
    </div>
    <mat-form-field style="width: 100%;">
        <mat-label>
            Email
        </mat-label>
        <input type="email" matInput formControlName="email">
        <mat-error *ngIf="email.hasError('required')">
            ¡Introduce tu correo electrónico!
        </mat-error>
        <mat-error *ngIf="email.hasError('email')">
            ¡Introduce un correo electrónico válido!
        </mat-error>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
        <mat-label>
            Password
        </mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error>
            ¡Introduce tu contraseña!
        </mat-error>
    </mat-form-field>
    <div style="width: 100%; display: flex; justify-content: center; padding-top: .5rem; padding-bottom: .5rem;">
        <button mat-raised-button color="primary" [disabled]="upload || form.invalid">
            <span style="margin: 0; padding: 0;" *ngIf="!upload">
                Iniciar sesión
            </span>
            <mat-spinner *ngIf="upload" diameter="35"></mat-spinner>
        </button>
    </div>
</form>
