@import "src/colors.scss";

.header{
    background: $primary-color;
    padding: .5ch;
    border-radius: 5px;
    margin-bottom: 1ch;
    h1{
        margin: 0;
        color: $white-text;
        font-weight: 300;
    }
    h3{
        margin: 0;
        color: $white-text;
        font-weight: 300;
    }
}

.grid-container{
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
}

.icon{
    width: 60px;
    height: 60px;
    font-size: 60px;
    color: $secondary-color;
    border: 1px solid $fifth-color;
    border-radius: 10px;
}

.more_link{
    margin-top: 1rem;
    p{
        .link{
            text-decoration: none;
            color: $primary-color;
        }
    }
}