<mat-card class=" mat-elevation-z5">
    <div class="info-card">
        <div class="icon-container mat-elevation-z2" [ngStyle]="infoCard? {background : infoCard.color} : {backgroundColor : defaultColor}">
            <mat-icon class="icon">
                {{infoCard? infoCard.icon : 'home'}}
            </mat-icon>
        </div>
        <div class="info-container">
            <h3 class="title text">
                {{infoCard? infoCard.title : 'default interface'}}
            </h3>
            <p class="description text">
                {{infoCard? infoCard.description : 'default description goes here'}}
            </p>
            <mat-divider class="divider"></mat-divider>
            <ng-content select="div[role=footer]"></ng-content>
        </div>
    </div>
</mat-card>