<mat-card class=" mat-elevation-z5">
    <div class="info-card">
        <div class="icon-container mat-elevation-z2" [ngStyle]="infoCard? {backgroundColor : infoCard.color} : {backgroundColor : defaultColor}">
            <mat-icon class="icon">
                {{infoCard? infoCard.icon : 'home'}}
            </mat-icon>
        </div>
        <div class="info-container">
            <h3 class="title">
                {{infoCard? infoCard.title : 'default interface'}}
            </h3>
            <p class="description">
                {{infoCard? infoCard.description : 'default description goes here'}}
            </p>
            <mat-divider class="divider"></mat-divider>
            <p class="footer">
                <a href="" [routerLink]="[infoCard.footerLink]" *ngIf="infoCard && infoCard.footerLink">
                    {{infoCard? infoCard.footer : 'default footer'}}
                </a>
                <span href="" *ngIf="!infoCard?.footerLink">
                    {{infoCard? infoCard.footer : 'default footer'}}
                </span>
            </p>
        </div>
    </div>
</mat-card>