<h2 mat-dialog-title>Proporcione el password y presione Enter </h2>
<div mat-dialog-content>
    <div style="display: flex; justify-content: space-around; justify-items: center; width: 100%;">
        <label style="width: 20%;" for="password">Contraseña:</label><br>
        <input style="width: 80%;" type="text" id="password" (change)="verfica_password()" 
        [(ngModel)]="password_z">
    </div>
    <div *ngIf="debug">
        <label for="">{{nvopwd_z}} {{fechasrv_z}} {{miubi_z}} </label>
    </div>
</div>
<div mat-dialog-footer></div>
<div mat-dialog-actions style="display: flex; justify-content: space-around; justify-items: left;">
    <button mat-raised-button style="margin-right: 5px;"  color="warn" (click)="closeno()">Cancelar</button>
    <button mat-raised-button  color="primary"  [disabled]="!pwdcorrecto_z" (click)="closeyes()">Aceptar</button>
</div>

