<table mat-table [dataSource]="visibleData" style="width: 100%;">
    <ng-container *ngFor="let column of bodyProps; let i = index" matColumnDef="{{column}}" >
        <th mat-header-cell *matHeaderCellDef style="padding: 1rem; text-transform: capitalize; text-align: center;" class="table-header">{{headers[i]}}</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;" (click)="selectObject(element, i)" class="table-content" >{{element[column]}}</td>
    </ng-container>
    <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef style="padding: 1rem; text-transform: capitalize;">
            Opciones
        </th>
        <td mat-cell *matCellDef="let element">
            <button mat-button (click)="openEdit(element)" *ngIf="options.edit" type="button">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-button (click)="openDelete(element)" *ngIf="options.delete" type="button">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-button (click)="openDownload(element)" *ngIf="options.download" type="button">
                <mat-icon>cloud_download</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns:displayColumns;" style="cursor: pointer;"></tr>
</table>
<mat-paginator [length]="options.size" showFirstLastButtons  [pageSizeOptions]="[5, 10, 20]" aria-label="Select page of novels"></mat-paginator>
