.flex-container {
    display: flex;
  }
  
  .flex-container > div {
    margin: 10px;
    padding: 20px;
  }
  
  .totales {
    display: grid;
    width: 50%;
    grid-template-columns: 20% repeat(3, 1fr);
    gap: .5rem

  }

