<div mat-dialog-content>
    
    <h1>Firme en el Pad modo: {{modo}} codigo:{{codigo}}</h1>  
    <canvas
    style="border: 2px solid black;"
    #canvas
    (touchstart)="startDrawing($event)"
    (touchmove)="moved($event)"
    width="400"
    height="200"
  ></canvas>
  
  <p class="error-message" *ngIf="signatureNeeded">Signature is required</p>
    <div mat-dialog-actions style="display: flex; justify-content: space-around; justify-items: center;">
        <button mat-raised-button style="margin-right: 5px;"  color="warn" (click)="closeno()">Cancelar</button>
        <button mat-raised-button  color="primary"   (click)="closeyes()">Aceptar</button>
    </div>
</div>
