<mat-card class="mat-elevation-z5">
    <div class="header">
        <h1>
            Tipografía
        </h1>
        <h3>
            Creado con la fuente tipográfica de Roboto
        </h3>
    </div>
    <h1>
        Tipografía
    </h1>
    <div class="typo-container">
        <div class="text-container">
            <h3 class="text-title">
                Header 1
            </h3>
            <h1 class="text-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui perferendis amet sequi fugit eaque quibusdam ipsam alias, placeat non voluptatibus sint commodi, beatae esse consequatur debitis expedita, vel obcaecati nam?
            </h1>
        </div>
        <div class="text-container">
            <h3 class="text-title">
                Header 2
            </h3>
            <h2 class="text-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dicta nulla non molestiae, iusto provident deleniti quam eum minus, porro quae, quos veritatis temporibus? Beatae libero illo sit officiis necessitatibus?
            </h2>
        </div>
        <div class="text-container">
            <h3 class="text-title">
                Header 3
            </h3>
            <h3 class="text-description">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti facilis adipisci dicta repellendus aliquam inventore autem provident quod, explicabo laudantium. Laboriosam perspiciatis quasi inventore magni soluta. Asperiores doloribus fugiat illo?
            </h3>
        </div>
        <div class="text-container">
            <h3 class="text-title">
                Header 4
            </h3>
            <h4 class="text-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia aliquid similique voluptatem fugit harum eum ratione, fugiat voluptate libero rerum temporibus molestiae rem animi. Rem aut sint nesciunt qui fugiat.
            </h4>
        </div>
        <div class="text-container">
            <h3 class="text-title">
                Header 5
            </h3>
            <h5 class="text-description">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est eius dolor perferendis magni aliquid fuga nostrum, quibusdam voluptatum libero harum, id, nihil culpa dolorum et maiores eveniet deserunt veritatis minima?
            </h5>
        </div>
        <div class="text-container">
            <h3 class="text-title">
                Header 6
            </h3>
            <h6 class="text-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta aperiam, itaque repudiandae voluptate, porro iste, error laboriosam accusantium veniam magni possimus. Fugiat illo esse, natus doloribus iste earum voluptatibus repellat.
            </h6>
        </div>
        <div class="text-container">
            <h3 class="text-title">
                Paragraph
            </h3>
            <p class="text-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta aperiam, itaque repudiandae voluptate, porro iste, error laboriosam accusantium veniam magni possimus. Fugiat illo esse, natus doloribus iste earum voluptatibus repellat. 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sit ex totam incidunt. Non officia saepe perspiciatis natus. Expedita nisi dolorem quibusdam, reiciendis aperiam a adipisci aspernatur quod eum officiis!
            </p>
        </div>
        <div class="text-container">
            <h3 class="text-title">
                Quote
            </h3>
            <div class="text-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur eveniet debitis adipisci, repellendus aut aliquid atque ratione quo, porro asperiores eum doloribus ad corrupti cumque labore animi nulla quod praesentium?
                </p>
                <small>
                    El weon de placsi
                </small>
            </div>
        </div>
    </div>
</mat-card>