@import "src/colors.scss";

.header{
    background: $primary-color;
    padding: .5ch;
    border-radius: 5px;
    margin-bottom: 1ch;
    h1{
        margin: 0;
        color: $white-text;
        font-weight: 300;
    }
    h3{
        margin: 0;
        color: $white-text;
        font-weight: 300;
    }
}

.typo-container{
    .text-container{
        display: flex;
        .text-title{
            width: 10%;
            text-align: center;
        }
        .text-description{
            width: 90%;
            font-weight: 300;
        }
    }
}

.second-color{
    color: $secondary-text;
}

.third-color{
    color: $third-text;
}

.fourth-color{
    color: $fourth-text;
}
