<div>

<div style="width: 100%;">

    <div class="row">
        <div >
            <mat-label >Código</mat-label>
            <input class="seventy-width" type="text" value="{{venta.codigo}}">
        </div>
        <div class="seventy-width">
            <mat-label >Nombre</mat-label>
            <input class="seventy-width" type="text" value="{{venta.nombre}}">
        </div>
    </div>
    <div class="row">
        <div class="thirty-width">
            <mat-label>Enganche </mat-label>
            <input type="text" value="{{venta.enganc | currency}}">
        </div>
        <div class="thirty-width">
            <mat-label>Servicio </mat-label>
            <input type="text" value="{{venta.servicio | currency}}">
        </div>
    </div>
    <div class="row">
        <div class="thirty-width">
            <mat-label>Letras </mat-label>
            <input type="text" value="{{venta.nulets}}">
        </div>
        <div class="thirty-width">
            <mat-label>Importe x Letra </mat-label>
            <input type="text" value="{{venta.canle | currency}} ">
        </div>
        <div class="thirty-width">
            <mat-label>Bonificación </mat-label>
            <input type="text" value="{{venta.bonifi | currency}} ">
        </div>
    </div>

    <div class="row">
        <div class="thirty-width">
            <mat-label>
                Cargos
            </mat-label>
            <input type="text" value="{{venta.cargos | currency}} ">
    
        </div>
        <div class="thirty-width">
            <mat-label>Abonos </mat-label>
            <input type="text" value="{{venta.abonos | currency}} ">
    
        </div>
        <div class="thirty-width">
            <mat-label>Saldo</mat-label>
            <input type="text" value="{{venta.saldo | currency}} ">
        </div>

    </div>
    <div class="row full-width">
        <mat-label> Compra</mat-label>
        <input class="seventy-width"  type="text" value="{{venta.compra}} ">
    </div>
</div>
