$primary-color : #F85A3E;
$secondary-color : #FF7733;
$third-color : #e15634;
$fourth-color : #e63b2e;
$fifth-color : #e1e6e1;

$primary-text : black;
$secondary-text : #afafaf;
$third-text : #7a7a7a;
$fourth-text : #696969;
$white-text: white;