@import "src/colors.scss";

html, body { height: 100%; outline: none; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*::-webkit-scrollbar{
    width: 0.25rem;
}

*::-webkit-scrollbar-track{
    background: $fifth-color;
}

*::-webkit-scrollbar-thumb{
    background: $primary-color;
}

*:focus{
    outline: none;
}

.full-size-viewport{
    width: 100vw;
    height: 100vh;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1rem;
}

.button{
    background: $primary-color;
    color: $white-text;
}

.mat-elevation-z8 {
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%) !important;
}

.mat-elevation-z5{
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 14px 0px rgb(0 0 0 / 12%) !important;

}