@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "src/colors.scss";

html, body { height: 100%; outline: none; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*::-webkit-scrollbar{
    width: 0.25rem;
}

*::-webkit-scrollbar-track{
    background: $fifth-color;
}

*::-webkit-scrollbar-thumb{
    background: $primary-color;
}

*:focus{
    outline: none;
}

.full-size-viewport{
    width: 100vw;
    height: 100vh;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1rem;
}

.button{
    background: $primary-color;
    color: $white-text;
}