<mat-card class="mat-elevation-z5 card">
    <div>
                <div class="espaciado">
                    <label class="espacio" *ngIf="producto" > 
                       Producto <b> {{producto.codigo}} {{producto.descri}} </b>
                       Almacén  <b> {{almacen.clave}} {{almacen.nombre}}</b>
                    </label> 
                </div>
                <div mat-dialog-actions style="display: flex; justify-content: space-around; justify-items: center;">
                    <button class="espaciado.button" mat-raised-button color="primary" (click)="agregar_kardex()" >
                        <mat-icon aria-hidden="false" aria-label="Example new icon">add</mat-icon>
                        Agregar Movimiento
                    </button>
                    <button class="espaciado.button" mat-raised-button color="primary" (click)="cambiar_producto()">
                        <mat-icon aria-hidden="false" aria-label="Example new icon">search</mat-icon>
                        Buscar Producto
                    </button>
                    <button class="espaciado.button" mat-raised-button color="primary" (click)="moverse_producto('A')">
                        <mat-icon aria-hidden="false" aria-label="Example new icon">keyboard_arrow_left</mat-icon>
                        Anterior Producto
                    </button>
                    <button class="espaciado.button" mat-raised-button color="primary" (click)="moverse_producto('S')">
                        <mat-icon aria-hidden="false" aria-label="Example new icon">keyboard_arrow_right</mat-icon>
                        Siguiente Producto
                    </button>
                    <button class="espaciado.button" mat-raised-button color="primary" (click)="impresionKardex()">
                        <mat-icon aria-hidden="false" aria-label="Example new icon">print</mat-icon>
                        Impresión de Kardex
                    </button>
                </div>
    </div>
    <div >
        <table mat-table [dataSource]="kardex" style="width: 100%;">
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.fecha | date: 'dd/MM/yyyy' }} </td>
            </ng-container>
            <ng-container matColumnDef="docto">
                <th mat-header-cell *matHeaderCellDef>Documento </th>
                <td mat-cell *matCellDef="let element"> {{element.docto}} </td>
            </ng-container>
            <ng-container matColumnDef="descri">
                <th mat-header-cell *matHeaderCellDef> Descripción</th>
                <td mat-cell *matCellDef="let element"> {{element.descri}} </td>
            </ng-container>
            <ng-container matColumnDef="folio">
                <th mat-header-cell *matHeaderCellDef> Folio </th>
                <td align="right" mat-cell *matCellDef="let element"> {{element.folio }} </td>
            </ng-container>
            <ng-container matColumnDef="serie">
                <th mat-header-cell *matHeaderCellDef> Serie </th>
                <td mat-cell *matCellDef="let element"> {{element.serie}} </td>
            </ng-container>
            <ng-container matColumnDef="fechasale">
                <th mat-header-cell *matHeaderCellDef> Fecha.Sale </th>
                <td mat-cell *matCellDef="let element" > {{element.salio === 'N' ? '':  element.fechasale | date: 'dd/MM/yyyy'  }}  </td>
            </ng-container>
            <ng-container matColumnDef="descrisale">
                <th mat-header-cell *matHeaderCellDef> Concepto Salida </th>
                <td mat-cell *matCellDef="let element"> {{element.salio === 'N' ? '' : element.descrisale  }} </td>
            </ng-container>
            <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <div>
                        <button [cdkMenuTriggerFor]="menu" class="example-standalone-trigger">Acciones</button>
                        <ng-template #menu>
                            <div class="example-menu" cdkMenu>
                                <ul>
                                    <li>
                                        <button mat-raised-button color="primary" *ngIf="movimientoDisponible(element)"
                                        (click)="edit(element)" type="button">
                                            <mat-icon>edit</mat-icon>
                                            Modificar
                                        </button>
                                    </li>
                                    <li>
                                        <button mat-raised-button color="warn" *ngIf="movimientoDisponible(element)"
                                        (click)="delete(element)" type="button">
                                            <mat-icon>delete</mat-icon>
                                            Eliminar
                                        </button>
                                    </li>
                                    <li>
                                        <button mat-raised-button *ngIf="movimientoDisponible(element)"
                                        color="warn" (click)="salida(element)" type="button">
                                            <mat-icon>add_shopping_cart</mat-icon>
                                            Salida
                                        </button>
                                    </li>
                                    <li>
                                        <button mat-raised-button *ngIf="!movimientoDisponible(element)"
                                        color="warn" (click)="deshacerSalida (element)" type="button">
                                            <mat-icon>remove_shopping_cart</mat-icon>
                                            Deshacer salida
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </ng-template>
    
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</mat-card>