@use '@angular/material' as mat;
@include mat.core();

$orange-soda : (
  50  : #ffedef,
  100 : #ffd2d4,
  200 : #f1a29e,
  300 : #e87f79,
  400 : #f26456,
  500 : #f85a3e,
  600 : #e9503c,
  700 : #d74736,
  800 : #c94030,
  900 : #ba3825,
  contrast : (
    50  : rgba(black, 0.87),
    100 : rgba(black, 0.87),
    200 : rgba(black, 0.87),
    300 : rgba(black, 0.87),
    400 : rgba(black, 0.87),
    500 : white,
    600 : white,
    700 : white,
    800 : white,
    900 : white
  )
);

$amber : (
  50  : #FFF8E1,
  100 : #FFECB3,
  200 : #FFE082,
  300 : #FFD54F,
  400 : #FFCA28,
  500 : #FFC107,
  600 : #FFB300,
  700 : #FFA000,
  800 : #FF8F00,
  900 : #FF6F00,
  contrast : (
    50  : rgba(black, 0.87),
    100 : rgba(black, 0.87),
    200 : rgba(black, 0.87),
    300 : rgba(black, 0.87),
    400 : rgba(black, 0.87),
    500 : white,
    600 : white,
    700 : white,
    800 : white,
    900 : white
  ) 
);

$warn : (
  50  : #EDE7F6,
  100 : #D1C4E9,
  200 : #B39DDB,
  300 : #9575CD,
  400 : #7E58C2,
  500 : #673AB7,
  600 : #5F34B0,
  700 : #542CA7,
  800 : #4A259F,
  900 : #391890,
  contrast : (
    50  : white,
    100 : white,
    200 : white,
    300 : white,
    400 : white,
    500 : white,
    600 : white,
    700 : white,
    800 : white,
    900 : white
  ) 
);

$orange-primary : mat.define-palette($orange-soda);
$orange-accent : mat.define-palette($amber);
$orange-warn : mat.define-palette($warn);

$orange-theme : mat.define-light-theme((
  color: (
    primary: $orange-primary,
    accent : $orange-accent,
    warn: $orange-warn
  )
));

@include mat.all-component-themes($orange-theme);