.barrabotones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.trselected {
    background-color: green;
}

.scroll { 
    overflow-y: auto; margin-bottom: 120px;
}

th {
    background-color: lightgray;
  }

th,
td {
    padding: 8px;
    text-align: left;
    border: 1px solid;
  }  